<div class="container animated fadeIn fast">
    <h1>About</h1>
    <p class="animated fadeIn">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima earum veritatis obcaecati aspernatur cumque! Fuga facilis sapiente alias natus repellat, eius doloribus nesciunt eos. Possimus molestiae sequi minima ratione autem.</p>
</div>