<div class="container">
    <h1>Heroes</h1>
    <small>Marvel & DC</small>
    <hr>
    <div class="card-columns">
        <app-heroe-target [heroe]="heroe" *ngFor="let heroe of heroes; let i=index"></app-heroe-target>
    </div>
</div>