<div class="card animated fadeIn fast">
    <img [src]="heroe.img" class="card-img-top" [alt]="heroe.nombre">
    <div class="card-body">
        <h5 class="card-title">{{heroe.nombre}}</h5>
        <p class="card-text text-justify">{{heroe.bio}}</p>
        <p class="card-text"><small class="text-muted">{{heroe.aparicion}}</small></p>
        <button (click)="verHeroe(i)" type="button" class="btn btn-primary btn-block">Ver más</button>
        <!-- <a [routerLink]="[ '/heroe', i]" class="btn btn-primary btn-block">Ver más</a> -->
    </div>
</div>