<div class="container">
    <h1>Buscando a: {{termino}}</h1>
    <small>Marvel & DC</small>
    <hr>
    <p *ngIf="heroes.length == 0">No se encontraron resultados :(</p>
    <div class="card-columns">
        <div class="card animated fadeIn fast" *ngFor="let heroe of heroes; let i=index">
            <img [src]="heroe.img" class="card-img-top" [alt]="heroe.nombre">
            <div class="card-body">
                <h5 class="card-title">{{heroe.nombre}}</h5>
                <p class="card-text text-justify">{{heroe.bio}}</p>
                <p class="card-text"><small class="text-muted">{{heroe.aparicion}}</small></p>
                <button (click)="verHeroe(i)" type="button" class="btn btn-primary btn-block">Ver más</button>
                <!-- <a [routerLink]="[ '/heroe', i]" class="btn btn-primary btn-block">Ver más</a> -->
            </div>
        </div>
    </div>
</div>