<h1 class="animated fadeIn">{{heroe.nombre | uppercase}} </h1>
<small>{{heroe.aparicion | date:'y'}}</small>
<hr>

<div class="row animated fadeIn fast">
    <div class="col-md-4">
        <img [src]="heroe.img" class="img-fluid" [alt]="heroe.img">
        <br><br>
        <a [routerLink]="['/heroes']" class="btn btn-outline-danger btn-block">Regresar</a>
    </div>

    <div class="col-md-8">
        <h3>{{heroe.nombre}}</h3>
        <hr>
        <p>{{heroe.bio}}</p>
        <div class="col-md-4">
            <img *ngIf="heroe.casa == 'Marvel'" src="../assets/img/marvel.png">
            <img *ngIf="heroe.casa == 'DC'" src="../assets/img/dc.png">
        </div>
    </div>
</div>